/* "Tamming" Box Model With Reset */

html {
    display: block;
}



/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.4em;
}

header {
  padding-top: 0;
  height: 22rem;
}
.main-container {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png")
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
.container {
  display: flex;
  align-items: center;
}
.top-area {
  position: relative;
  top: 1rem 0;
  width: 960px;
  padding: 1rem 1rem;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  display: flex;
  align-items: flex-end;
  padding-left: 2rem 2rem;
  justify-content: space-between;
}
